<div class="flex justify-center justify-items-center items-center flex-col mt-6 text-center">
  <img src="/assets/images/track.svg" alt="Tracking illustration" class="w-1/3">
  <section class="p-6">
    <p>We love exact predictions about traffic jams - and you too. For those we need data. With "Follow me" you help to make better traffic jam predictions while also profiting for yourself. And this without loosing privacy!</p>
    <p><a href="#" class="link link-accent">Read more about it</a></p>
  </section>
</div>

<div class="p-3" *ngIf="sliderValue == 500">
  <div class="alert flex p-3 flex-col">
    <span>📍 You are currently earning coins for sharing your Geo-data.</span>
    <div class="radial-progress" [style]="'--value:' + currentProgress + ';'">{{currentProgress}}%</div>
    <span>🛠️ Next coin in making...</span>
    <span class="mt-4">You earned <div class="badge badge-success gap-2">{{coinsEarned}}</div> coins in this session</span>
  </div>
</div>

<div class="p-6 flex items-center justify-items-center flex-col">
  <div class="range w-full h-16 max-w-sm inline-block relative">
    <input type="range" (change)="change($event)" min="0" max="500" value="0"/>
    <p class="absolute left-6 text-white" *ngIf="sliderValue == 500">Tracking is running...</p>
    <p class="absolute right-6 text-slate-400" *ngIf="sliderValue == 0">Pull to start tracking...</p>
  </div>
</div>
