.hero {
  border-radius: 12px;

  &-overlay {
    border-radius: 12px;
  }

  &-content {
    padding: 0;
  }
}

.text-content {
  padding: 32px 16px;
}

.card {
  border-radius: 0 0 12px 12px;

  @media (min-width: 1024px) {
    border-radius: 12px 0 0 12px;
    max-width: 390px;
  }
}

.form {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &-elements {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
  }

  &-control {
    input {
      color: #000;
    }
  }
}

.time-control {
  width: 100%;
}

.result-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.time-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-img {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  img {
    max-width: 450px;
    width: 65%;

    @media (min-width: 1024px) {
      width: 100%;
    }

  }
}

.stat-value {
  font-size: 24px;
}

.input-width {
  width: 100%;
}

.label-time {
  flex-direction: column;

  .label-text {
    margin-bottom: 5px;
  }
}

.collapse-title {
  padding-right: 1rem;
}

.toggle {
  background-color: #4f46e5;
}
