.hero {
  border-radius: 12px;

  &-overlay {
    border-radius: 12px;
  }

  &-content {
    padding: 32px 16px;
    gap: 32px;
  }
}

.form {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &-elements {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
  }

  &-control {
    input {
      color: #000;
    }
  }
}
