<div class="constrainer">
  <div class="mini-constrainer">
    <div class="hero bg-secondary">
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Learn about traffic</h1>
          <p class="py-6">Discover the art of reducing traffic congestion by diving into our informative articles. Not
            only will you gain insights, but every article you complete earns you points. Accumulate them and unlock a
            treasure trove of automobile goodies waiting just for you!</p>
          <a [routerLink]="['/shop']" class="btn btn-primary">To the shop</a>
        </div>
      </div>
    </div>
  </div>
  <div class="points text-xl">
    You have
    <div *ngIf="points > 0" class="badge badge-success gap-2 badge-lg">{{ points }}</div>
    <span *ngIf="points <= 0">no </span> points!
  </div>
  <div class="mini-constrainer">
    <p class="text-4xl text-primary">Articles</p>
    <div *ngIf="isLoading" class="loading-bar">
      <span class="loading loading-bars loading-lg"></span>
    </div>
    <div *ngIf="readables && !isLoading" class="articles-grid">
      <ng-container *ngFor="let readable of readables">
        <div class="card w-96 bg-base-100 shadow-xl image-full indicator">
          <figure>
            <img [src]="readable.image"
                 alt="Shoes"/>
          </figure>
          <span *ngIf="isAlreadyRead(readable.id)"
                class="indicator-item badge badge-lg badge-accent indicator-top indicator-center z-50">Already read</span>
          <div class="card-body">
            <h2 class="card-title">{{ readable.title }}</h2>
            <p>{{ readable.summary }}</p>
            <div class="card-actions justify-end">
              <a [queryParams]="{id: readable.id}" [routerLink]="['/article']" class="btn btn-primary">Read now</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
