.hero {
  border-radius: 12px;

  &-content {
    padding: 32px 16px;
  }
}

.articles-grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.points {
  margin-top: 30px;
  bottom: 30px;
  text-align: center;
}

.loading-bar {
  margin-top: 32px;
}
